################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/src/ForgeBase/bin/Debug/netcoreapp1.0
/src/ForgeBase/obj/Debug/netcoreapp1.0
